@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Dancing+Script:wght@500&family=M+PLUS+1p:wght@100&family=Merriweather+Sans:wght@800&family=Merriweather:wght@300;400&family=Montserrat:wght@700&family=Open+Sans&family=Patua+One&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300&family=Roboto&family=Roboto+Slab:wght@300&family=Sacramento&display=swap');

html,
body {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Roboto Slab', serif; */
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    /* background-color: #071f30; */
    background-color: #171c23;
    background-attachment: fixed;
    font-family:"Poppins", sans-serif;


}
.ab{
    color: aliceblue;
    text-shadow: none;
    
}
.me{
    color: #27ae60;
    text-shadow: none;
}

.h1 {
    
    text-align: center;
    
    overflow: hidden;
    padding-top: 20px;
   
    


}
.h1 h1{
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    
}
.bgtext{
    
    
    font-size: 5rem;
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    color: #2a2e35;
    text-shadow: none;
}

@media (max-width:60rem){
    .bgtext{
        color: #8187916e;
        font-size: 4rem;
    }
}
.hshape{
    transition: all 0.4s ease-in-out;
    width: 50%;
    height: 100%;
    background-color: #27ae60;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

/* nav styling */


/* .anchor{
    color: aliceblue;
}
.nav{
    z-index: 110;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
} */


/* . */
.nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}
.item{
    width: 20%;
    justify-content: center;
    display: flex;
    gap: 20px;
    font-size: 20px;
    padding-left: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 50px;
}
.item li{
    list-style: none;
    text-decoration: none;
    background-color: #27ae60;
    padding: 10px;
    border-radius: 100%;
}
.nav .item li i{
    color: aliceblue;
    
}


@media (max-width:60rem){
    .item{
        width: auto;
        font-size: 15px;
    }
}
/*Mid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* margin-top: 20px;
    margin-bottom: 100px; */
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    gap: 4rem;
}

.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #27ae60;
    border-radius: 100%; */
    
}
.right{
    z-index: 2;
    display: flex;
    /* flex-direction: column;*/
    justify-content: center; 
    align-items: center;
}
h1:hover{
    cursor: pointer;

}
.socialIcons{
    background-color: #171c23;
    width: auto;
    height: auto;
    padding: 25px;
    /* padding: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px; */
    box-shadow: 0 0 25px rgba(39, 174, 96, 0.5);
}
.img{
    width: 10rem;
    height:10rem;
    border-radius: 100%;
}
.name{
    margin-top: 20px;
    font-size: 45px;
    margin-bottom: 0;
}
.name2{
    color: aliceblue;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.button{
    background-color: #27ae60;
    color: aliceblue;
    margin-top: 20px;
    width: auto;
    height: 40px;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    font-family:"Poppins", sans-serif;
}
.info{
    color: #27ae60;
    text-align: center;
    margin-top: 0;
    
    
    
}
/* .info span{
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
   
}
@keyframes flip{
    0%,80% {
        transform: rotateY(360deg) 
      }
} */
.in:hover{
    cursor: pointer;
}
.right button{
    background-color: #27ae60;
}
.in .username{
    word-break: break-all;
    color: aliceblue;
    font-size: 20px;
   margin-left: 50px;
}
.username:hover{
    transform: scale(1.1);
    transition: 200ms;
    display: inline-block;
    color: #27ae60;
}
.socialIcons ul{
    /* display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; */
    line-height: 2.5;
    list-style: none;
    text-decoration: none;
   
}
.socialIcons .in{
    margin: 0;
}

.in i{
    font-size: 30px;
}


.in i:hover{
    transform: scale(1.5);
    transition: 200ms ease;
    
}
.text:hover{
    color: aliceblue;
}
.iam{
    color: #27ae60; 
}


@media (max-width : 60rem){
    
    
    .grid{
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    img{
        z-index: 100;
        height: 25rem;
    }
    h2{
        z-index: 101;

    }
    h4{
        z-index: 102;
    }
    .name{
        font-size: 25px;
    }
    
    .name2{
        font-size: 25px;
    }
    .info{
        font-size: 25px;
    }
    .in{
        gap: 20px;
    }
    .socialIcons{
        padding: 8px;
        z-index: 99;
    }
    .me{
        color:#27ae60;
    }
    .iam{
        display: block;
        text-align: center;
        color: aliceblue;
    }
    .username{
        margin-left: 10px;
    }
    ul{
        padding-left: 0;
    }
}